#Functions Assignment Part-2

###Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

###Answer.

In [21]:
given=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print(sorted(given,key=lambda a:a[1]))

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

###Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###Answer.

In [22]:
##BY MAP&LAMBDA FUNCTION
lst=[1,2,3,4,5,6,7,8,9,10]
result=list((map(lambda a:a**2,lst)))
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
##BY MAP FUNCTION
lst=[1,2,3,4,5,6,7,8,9,10]
def sqr(n):
  return n**2
result=list(map(sqr,lst))
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
##BY LAMBDA FCUNTION
result=lambda a:a**2
for i in lst:
  print(result(i))

1
4
9
16
25
36
49
64
81
100

###Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

###Answer.

In [25]:
givenstring=[1,2,3,4,5,6,7,8,9,10]
result=tuple(map(lambda a:str(a),givenstring))
result

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

###Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

###Answer.

In [26]:
from functools import reduce
lst=[]
for i in range(1,26):
 lst.append(i)
lst
result=reduce(lambda a,b:a*b,lst)
result

15511210043330985984000000

###Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

###Answer.

In [27]:
lst=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result=list(filter(lambda a:a%2==0 and a%3==0,lst))
result

[6, 60, 90, 120]

###Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']


###Answer.

In [28]:
lst=['python', 'php', 'aba', 'radar', 'level']
result=list(filter(lambda a:a[::1]==a[::-1],lst))
result

['php', 'aba', 'radar', 'level']