<a href="https://colab.research.google.com/github/karankeshav/python-assignment/blob/main/PYTHONASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#30th Jan Assignment

###1. Write a program to accept percentage from the user and display the grade according to the following criteria: 


Marks:        Grade:  
###>90:            A

###>80 and <=90:    B


###>=60 and <=80:    C

 
###below 60:         D

In [2]:
marks=int(input('Enter your percentage: '))
if 100>marks>90:
  print('Your grade is A')
elif 80<marks<=90:
  print('Your grade is B')
elif 60<=marks<=80:
  print('Your grade is C')
elif 60>marks:
  print("Your grade is D")
else:
  print("Invalid Operation")

Enter your percentage: 69
Your grade is C

###Q2.write a program to accept the cost price of a bike and display the road tax to be paid acccording to the following criteria:

###Tax:Cost Price(in Rs)

15%:>100000

10%:>50000 and <=100000

5%:<=50000

In [4]:
price=int(input("Enter your cost price of a bike: "))
if price>100000:
  print("Total road tax you have to pay is: ",int(15/100*price))
elif 50000<price<=100000:
  print("Total road tax you have to pay is: ",int(10/100*price))
elif price<=50000:
  print("Total road tax you have to pay is: ",int(5/100*price))
else:
  print("Invalid Operaton")

Enter your cost price of a bike: 68000
Total road tax you have to pay is:  6800

###Q3.Accept any city from the user and display monuments of that city.

City:Monuments

Delhi:Red Fort

Agra:Taz Mahal

Jaipur:Jal Mahal

###Answer.

In [ ]:
cityname=input("Enter the city name-(Delhi,Agra,Jaipur):")
if cityname=="Delhi":
  print("Monument of delhi is: Red Fort")
elif cityname=="Agra":
  print("Monument of Agra is: Taz Mahal")
elif cityname=="Jaipur":
  print("Monument of Jaipur is: Jal Mahal")
else:
  print('Invalid Operation')

Enter the city name-(Delhi,Agra,Jaipur):jhvio
Invalid Operation

###Q4.Check how many times a given number can be divided by 3 before it is less than or equal to 10.

###Answer.

In [ ]:
def div(number):
  i=0
  while number>=10:
    number=int(number/3)
    i=i+1
    if number<=10:
      print(i)
      break

div(8787897)

13

###Q5. Why and when to use while loop in python give a details description with example.

###Answer.

While loop is repeating loop which works under the some specific condition  as its limit and it will run  repeatedly till the condition is true.
In other words  while loop repeat  some code repetedly till the enetred condition is true.
While loop is used when we have to execute some code until the certain condition.While using the "while" loop its necessary to create condition carefully i.e.give appropriate increment ,decrement statement after the code otherwise while loop will run upto infinite


Let's see some example of while loop...

In [ ]:
##INFINITE WHILE LOOP

i=0
while i<5:
  print("hello world")

In [ ]:
##USE OF WHILE LOOP
i=0
while i<11:
  print(i**2)
  i=i+1

0
1
4
9
16
25
36
49
64
81
100

###Q6.Use nested while loop to print 3 different pattern.

###Answer.

In [ ]:
#SQUARE
n=int(input())
i=0
while n>i:
  j=0
  while j!=n:
    print(' * ',end='')
    j=j+1
  i=i+1
  print()

6
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *

In [ ]:
#TRAINGLE
def triangle(n):
  i=0
  while i<=n:
    x=0
    while x<=i:
      print('*',end='') 
      x=x+1
    print()
    i=i+1
triangle(5)

*
**
***
****
*****
******

In [1]:
#OPPOSITE RIGHT ANGLED TRIANGLE
def pattern(n):
  i=n
  while i>=1:
    print(" "*(n-i)+"*"*i)
    i=i-1

pattern(6)

******
 *****
  ****
   ***
    **
     *

###Q7.Reverse a while loop to display number from 10 to 1.

###Answer.

In [ ]:
##REVERSE ORDER IN WHILE LOOP
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

###Q8.Reverse a while loop to display number from 10 to 1.

###Answer.

In [ ]:
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1