<a href="https://colab.research.google.com/github/karankeshav/python-assignment/blob/main/tuple%2Cset%26dictinoriesassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple ,Set &Dictinory assignment

###Q1: What are the characteristics of the tuples? Is tuple immutable?
###Answer:
 Characterstics of tuple:

   1) Tuple is written in parenthesis bracket unlike
      list,dictionary,set.       

   2) Tuple can contain duplicate elements like list.

   3) You can get tuple element by its index number like list.

   4) Most important thing about tuple is,they are immutable(i.e.you can not chnage its element once you created it)

   5) Tuples are ordered.

  Yes.Tuple is immutable,can not change its element once you created it.

###Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.
###Answer:

There are two methods in tuple:

1) count()

2) inddex()

Before going towards example of count(),index(),let see the use of this methods..

cont()=This method shows that how many times a particular number repeating in tuple.

index()=This methods shows the index number of the particular element present in the tuple.

In [ ]:
#example of count() and index()
tuple1=(1,2,3,4,5,6,7)
print(tuple1.index(6))
print(tuple1.index(5))

tuple2=(1,2,3,1,4,5,6,1,7,2)
print(tuple2.count(1))
print(tuple2.count(2))

Yes,Tuple have only two in-built method as compared to list because tuple is immutable ,you can not change element in tuple once you created it unlike list.

###Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

###Answer:

Set is a datatype in python which do not allow duplicate items.

If you put same element twice or more than twice in set it will be printed only once.

In [8]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
print(set(List))

{1, 2, 3, 4}

###Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

###Answer:

Consider there two sets: set1,set2.


update() method will add all the elements in set1 from the set2 .On the other hand union() method print all the elements present in set1 and set2 in a new set.In update() method no new set is formed like union() method.In union() formation of new set is involve.

In [14]:
##examples of a update() & union()(|)
set1={1,2,4,5,67,8,65,4,90}
set2={6,8,3,4,5,68,423,8}
a.update(b)
print(a)

set1={7,4,56,7,8,4,3,6,78,4}
set2={5,3,6,4,67,9,6,4,3,7}
print(set1|set2)

{1, 2, 3, 4, 8, 56}
{3, 4, 67, 6, 7, 8, 5, 9, 78, 56}

###Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

###Answer:

Dictionary is a collection of data in key and value pairs and every key should be unique itself otherwsie it will updated with the other one.

In [17]:
d1={'name':'karan','age':23,'coursename':'Data Sceince Masters'}
print(d1)

{'name': 'karan', 'age': 23, 'coursename': 'Data Sceince Masters'}

Yes,Dictionary is a ordered and its also mutable.

###6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

###Answer:
Yes,like other data structurs its possible to create nested dictionary.

In [32]:
d2={'course':{'coursefees':3200,'coursename':'Data Sceince Masters'},
'mentors':{'mentor1':'krish naik','mentor2':'sudhanshu kumar'},
'courselanguage':{'language1':'english','language2':'hindi'}}
d2

{'course': {'coursefees': 3200, 'coursename': 'Data Sceince Masters'},
 'mentors': {'mentor1': 'krish naik', 'mentor2': 'sudhanshu kumar'},
 'courselanguage': {'language1': 'english', 'language2': 'hindi'}}

###Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

###Answer:

In [ ]:
dict1= {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics',(['Python','machine Learning','Deep Learning']))
dict1

###Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

###Answer:

Three view objects in dictinories are:

1) keys()

2) values()

3) items()

In [45]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])